{% extends "base.html" %}
{% load typogrify %}
{% load rendertext %}
{% load logic %}
{% load several_random %} 
{% block title %} {% for section in object.sections.all %}
{% if section.id|EQ:1 %}Sponsors: {%endif%} {% if section.id|EQ:4 %}News: {%endif%}{%endfor%}{{ object.headline }}{% endblock %}
{%block extra-head %}
<script>
 
        $(document).ready(function() {

            $('div.photo-gallery').corner();

            });
     
    </script> 
{%endblock%}
{% block content %}
<div class="column span-1 first">
<hr style="color:transparent;background:transparent;"/>
</div>
<div id="section" class="column span-18">

{% for section in object.sections.all %}

<a href="{{ section.get_absolute_url }}">{{ section.title|rendertext:"egypt,30,#D7D6B5" }}</a>

{%endfor %}
</div><div class="column span-1 last">
<hr style="color:transparent;background:transparent;"/>
</div>
<div class="column span-16 prepend-4 first last">
{{ object.headline|rendertext:"egypt,45,#D7D6B5" }}
</div>
                <div class="column span-5 first pull-quote" style="padding-top:36px;">
				
                {% if object.summary %} <div class="column span-4 prepend-1 first last" ><h3 class="article-description">{{ object.summary|typogrify  }}</h3> </div>
				<div class="column span-2 prepend-1 append-1 first last" style="margin-top:10px;"> <hr/> </div>{% endif %}
			 {% for section in object.sections.all %}{% if section.id|EQ:4 %}<div class="colun span-4  first last"><small class="quiet push-1"><em>Originally published</em><br/>{{ object.pub_date|date:"l, F jS, Y"|typogrify  }}</small></div>{%endif%}{%endfor%}

                </div>
                <div class="column span-15 last">
                        
                 <div class="column span-8 prepend-1 first border article" > 
					   

{{ object.body|striptags|slice:":1"|rendertext:"egypt,20,#000000" }}
      
{{ object.body|slice:"4:"|typogrify }}

{% if not object.documents 	%}
{%else%}
<div class="column span-4 prepend-2 append-2 first last" style="margin-top:18px">
<hr />
<ul class="pull-2">
{% for document in object.documents.all %}
    
      <li>  <a href="{{ document.get_absolute_url }}">{{ document.title }}</a></li>
    {% endfor %}
</ul>
</div>               
{% endif %}
</div>
  
   
    
 {% for section in object.sections.all %}
{% if section.id|EQ:1 %}
{# Sponsors #}<div class="column span-5 append-1 last"> 
 {% for photo in object.photos.all %}
 <a href="{{ photo.url }}" target="_blank"><img src="{{ photo.get_sponsorthumb_url }}" alt="{{ photo.title }}" class="sponsor-thumb" /></a>{% endfor %}</div>
</div>

{% else %}

{# News & Recipients #}
<div class="column span-5 append-1 last"> 
 {% for photo in object.photos.all|several_random:2 %}
<a class="image_container"><img src="{{ photo.get_display_url }}" alt="{{ photo.title }}"  /><img class="image_overlay"  src="{{media_url}}images/mask.png" /></a>{%endfor%}
</div>
</div>
<div class="column span-18 prepend-1 append-1 first last" >
<hr />
<div class="photo-gallery" style="background-color:#EDECDF;">
<hr />

<div class="column span-16 prepend-1 append-1 first last">{{ object.headline|rendertext:"egypt,20,#D7D6B5" }}{{ ": Photos"|rendertext:"egypt,20,#D7D6B5" }}
<hr />
{% for photo in object.photos.all %}
<div class="{% cycle gallery-photo-1,gallery-photo-2,gallery-photo-3,gallery-photo-4  %}">
            <a href="{{ photo.get_gallery_url }}" title="{{photo.caption|truncatewords:15}} - Photo courtesy of {{photo.photographer}}" rel="{{gallery.slug}}" class="thickbox"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" class="gallery-photo-photo" /></a>

        </div>
 
       {%endfor%}
       <hr />
       <hr />

</div>
<hr />
</div> 
<hr />      
</div> 
     
    {%endif%}
    {% endfor %}
 











{% endblock %}
