{% extends "base.html" %}

{% block title %}Articles and Galleries{% endblock %}

{% block content %}

<h1>All galleries</h1>

{% if galleries %}
    {% for gallery in galleries %}
    <div class="photo-gallery">
        <h2>{{ gallery.title }}</h2>
        {% for photo in gallery.photos.all %}
        <div class="gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

<h1>All articles</h1>


{% if articles %}<ul>
    {% for article in articles %}
    
        <li>{{ article.headline }}</li>
        

        {% endfor %}
    </ul>
    
{% else %}
    <p>No articles at this time.</p>
{% endif %}

{% endblock %}

