{% extends "base.html" %}
{% load rendertext %}
{% load typogrify %}
{% load logic %}
{% block title %}{{section.title}}{% endblock %}
{% block extra-head  %}
<script language="javascript" src="{{media_url}}js/jquery.cycle.all.pack.js"></script>
<script language="javascript">

function onAfter() {
    $('#caption').html(this.alt);
}
</script>
<style>
.pics {  
    height:  190px;  
    width:   190px;  
    padding: 0;  
    margin:  0;  
	overflow:visible;
	
	
	

	
} 
 
.pics img {  
	
    padding: 15px;  
    
    background-color: #ffffff;  

} 
</style>

{%endblock %}
{% block content %}
<div class="column span-1 first">
<hr class="space"/>
</div>


<div id="section" class="column span-18">
{{ section.title|rendertext:"egypt,30,#D2D1AD" }}
</div><div class="column span-1 last">
<hr class="space"/>
</div>
<hr class="space" />

{% if object_list %}

{% for article in object_list %}    
<div class="column span-1 first">
<hr class="space"/>
</div><div class="column span-18 section-list ">

              <div  class="column span-5 first "  >
			  {% if section.id|EQ:1 %}
			 
				<div id="pics_{{forloop.counter0}}" {% if article.photos.all|length|EQ:1 %} {%else%}class="pics"{%endif%}>
				 


{% for photo in article.photos.all %}
       <img src="{{ photo.get_sponsor_url }}" alt="{{ photo.caption }}" />
		
      
		{% endfor %}
{% if article.photos.all|length|EQ:1 %}
</div><div id="caption"></div>
{%else%}
</div><div id="caption"></div>
<script type="text/javascript">
$("#pics_{{forloop.counter0}}").cycle('fade');
</script>
{%endif%}
{%else%}
				<a class="image_container" href="#">
				<div id="pics_{{forloop.counter0}}" class="pics">
				 


{% for photo in article.photos.all %}
       <img src="{{ photo.get_display_url }}" alt="{{ photo.caption }}" />
		

		{% endfor %}


</div>
<img class="image_overlay" style="top:15px;left:15px;" src="{{media_url}}images/mask.png" /></a>
<script type="text/javascript">
$("#pics_{{forloop.counter0}}").cycle('fade');
</script>{%endif%}
                </div>
                <div class="column span-11 prepend-2  last article" >
				<hr class="space" />
				<a href="{{ article.get_absolute_url }}">{{ article.headline|rendertext:"egypt,25,#D2D1AD" }}</a>
<p class="pull-0">
{{ article.body|striptags|slice:":1"|rendertext:"egypt,30,#000000" }}
      
{{ article.body|slice:"4:"|truncatewords_html:50|typogrify }}</p> <h4>(<a href="{{ article.get_absolute_url }}">more</a>)</h4>

</div>

</div>
<div class="column span-1 last">
<hr class="space"/>
</div>
{% endfor %}
    
{% else %}
<div class="column span-1 first">
<hr class="space"/>
</div><div class="column span-18 section-list ">

			  <div  class="column span-4 prepend-1 first "  >
			  <hr/>
			  </div>
			  <div class="column span-11 prepend-2  last article" >
				<hr class="space" />
    {{ "Coming soon..."|rendertext:"egypt,20,#D2D1AD" }}
	</div>

</div>
<div class="column span-1 last">
<hr class="space"/>
</div>
{% endif %}

{% endblock %}


