{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}

{% block navbar %}

{% endblock %}
{%block extra-head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();

        });
    </script>
{%endblock %}
{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">
<h5>{% trans "Account options" %}:</h5>
<p> <a href="{% url registration_register %}">{% trans "Setup a new account" %}</a><br />
<a href="{% url auth_password_reset %}">{% trans "Forgotten your password?" %}</a></p>
   
</div>
</div>
<div class="column span-14 prepend-1 last">
{{ "Log In"|rendertext:"egypt,45,#D2D1AD" }}


{% if form.has_errors %}
<p>{% trans "Your email address and password didn't match. Please try again." %}</p>
{% endif %}

<form method="post" action=".">
<table>
<tr><td><label for="id_username">{% trans 'Email address' %}:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">{% trans 'Password' %}:</label></td><td>{{ form.password }}</td></tr>
<tr><td>&nbsp;</td><td><input type="submit" value="{% trans 'Login' %}" /></td></tr>
</table>


<input type="hidden" name="next" 
{% if next %}
    value={{ next }} />
{% else %}
    value="{% url satchmo_account_info %}" />
{% endif %}
</form>


</div>

{% endblock %}
