{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

</div>
<div class="column span-13 prepend-1 last">
{{ "Password Reset Successful"|rendertext:"egypt,45,#D2D1AD" }}


<p>{% trans "We've e-mailed a new password to the e-mail address you submitted. You should receive it shortly." %}</p>

</div>
{% endblock %}
