{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-19 prepend-1 first last">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-4 first">

<div class="column span-2 prepend-1 append-1 first last">
<hr/>
</div>

</div>
<div class="column span-14 prepend-2 last">
{{ "Password Change Successful"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-14  first last">

<p>{% trans "Your password change has been completed." %}</p>
</div>
</div>




{% endblock %}
