{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}

{% block navbar %}

{% endblock %}
{%block extra-head %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".box1").corner();

		});
	</script>
{%endblock %}
{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">
<p class="quiet">{{"Forgotten your password? Enter your e-mail address to the right, and we'll send a new password to you. Be sure to enter the same e-mail address you used to register."|typogrify }}</p>

</div>

</div>
<div class="column span-13 prepend-1 last">
{{ "Reset Your Password"|rendertext:"egypt,45,#D2D1AD" }}






<form action="" method="post">

	{% if form.email.errors %}
		<p class="error">{{ form.email.html_error_list }}</p>
	{% endif %}
	<table width="400" border="0" align="center">
	<tr>
	<td><label for="id_email">{% trans "E-mail address" %}:</label> </td>
	<td>{{ form.email }}</td>
	</tr>
	<tr>
	<td>&nbsp;</td>
	<td><input id="id_submit" type="submit" value="{% trans "Reset password" %}" /></td>
	</tr>
	</table>
    

</form>

</div>
{% endblock %}
