{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{%block extra-head %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".box1").corner();


		});
	</script>
{%endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>

<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">





<h5>{% trans "Account options" %}:</h5>
<p>
	<a href="{% url satchmo_profile_update %}">{% trans "Update your profile" %}</a>
	<br/>
	<a href="{% url auth_password_change %}">{% trans "Change your password" %}</a>
	<br/>
	<a href="{% url satchmo_order_history %}">{% trans "Order History" %}</a>
</p>
</div>
</div>
<div class="column span-13 prepend-1 last">
{{ "Change Your Password"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-13  first last">


<p>{% trans "For the sake of security, please enter your old password, and then enter your new password twice." %}</p>

<form action="" method="post">
<table width="400" border="0" align="center">
  <tr>
    <td width="113"><label for="id_old_password">{% trans "Old password" %}:</label></td>
    <td width="227">{% if form.old_password.errors %}
		{{ form.old_password.html_error_list }}
	{% endif %}

	{{ form.old_password }}</td>
  </tr>  
  <tr>
    <td><label for="id_new_password1">{% trans "New password" %}:</label></td>
    <td>{% if form.new_password1.errors %}
		{{ form.new_password1.html_error_list }}
	{% endif %}
	
	{{ form.new_password1 }}</td>
  </tr>
  <tr>
    <td><label for="id_new_password2">{% trans "Confirm new password" %}:</label></td>
    <td>{% if form.new_password2.errors %}
		{{ form.new_password2.html_error_list }}
	{% endif %}
	
	{{ form.new_password2 }}</td>
  </tr>
<tr>
<td>&nbsp;
</td>
<td><input type="submit" value= "{% trans "Change password" %}" />
</td>
</tr>
</table>

	
</form>
</div>
</div>
{% endblock %}
