{% extends "base.html" %}
{% load satchmo.google %}
{% load i18n %}
{% load rendertext %}

{% block navbar %}

{% endblock %}
{%block extra-head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();

        });
    </script>
{%endblock %}
{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">
<h5>{% trans "Account options" %}:</h5>
<p>
    <a href="{% url satchmo_profile_update %}">{% trans "Update your profile" %}</a>
    <br/>
    <a href="{% url auth_password_change %}">{% trans "Change your password" %}</a>
    <br/>
    <a href="{% url satchmo_order_history %}">{% trans "Order History" %}</a>
</p>
</div>
</div>
<div class="column span-13 prepend-1 last">
{{ "Account Created"|rendertext:"egypt,45,#D2D1AD" }}

<p>{% trans "Thank you for signing up." %}
{% if verify %}
{% trans "An activation link has been sent to the email address you supplied, along with instructions for activating your account." %}
{% endif %}
</p>

</div>



{% endblock %}

{% block google-tracker %}
{% if enable_google %}
    {% show_tracker is_secure %}
    {% google_track_signup %}
{% endif %}
{% if enable_adwords %}
    {% google_adwords_signup %}
{% endif %}
{% endblock %}
