{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}

{% block navbar %}

{% endblock %}
{%block extra-head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();

        });
    </script>
{%endblock %}
{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">
<h3 class="article-description">{% trans "Please enter your account information" %}</h3>
</div>


</div>
<div class="column span-13 prepend-1 last">
{{ "Registration"|rendertext:"egypt,45,#D2D1AD" }}


<table>
<form method="post" action=".">

    <tr><td>{{ form.email.label_tag }}:</td><td>{{ form.email }}</td></tr>
    <tr><td></td><td>{% if form.email.errors %}*** {{ form.email.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.first_name.label_tag }}:</td><td>{{ form.first_name }}</td></tr>
    <tr><td></td><td>{% if form.first_name.errors %}*** {{ form.first_name.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.last_name.label_tag }}:</td><td>{{ form.last_name }}</td></tr>
    <tr><td></td><td>{% if form.last_name.errors %}*** {{ form.last_name.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.password.label_tag }}:</td><td>{{ form.password }}</td></tr>
    <tr><td></td><td>{% if form.password.errors %}*** {{ form.password.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.password2.label_tag }}:</td><td>{{ form.password2 }}</td></tr>
    <tr><td></td><td>{% if form.password2.errors %}*** {{ form.password2.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.newsletter.label_tag }}:</td><td>{{ form.newsletter }}</td></tr>
    <tr><td></td><td>{% if form.newsletter.errors %}*** {{ form.newsletter.errors|join:", " }}{% endif %}</td></tr>

<tr><td></td><td><input type="submit" value="{% trans "Create Account" %}"/></td></tr>
</form>
</table>

</div>
{% endblock %}
