/* -------------------------------------------------------------- 
   
   ie.css
   
   Contains every hack for Internet Explorer versions prior 
   to IE7, so that our core files stay sweet and nimble.
   
-------------------------------------------------------------- */

/* Make sure the layout is centered in IE5 */
body        { text-align: center; }
.container  { text-align: left; }


/* This fixes the problem where IE6 adds an extra 3px margin to
   two columns that are floated up against each other. */

* html .column { overflow-x: hidden; } /* IE6 fix */

.pull-1, .pull-2, .pull-3, .pull-4,
.push-1, .push-2, .push-3, .push-4, 
ul, ol {
  position: relative; /* Keeps IE6 from cutting pulled/pushed images */
}

/* Fixes incorrect styling of legend in IE6 fieldsets. */
legend { margin-bottom:1.4em; }

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left:2em; }

hr {display: block;width:0px;}
.box1 {padding:10px;margin-left:-15px;}
#footer{padding-top:18px;}
.container{background-color: #D2D1AD;}
body{background-color: #FF8F29;}
#main{margin-right:10px;}
.gallery-photo-lead{overflow:hidden!important; } 
.gallery-photo-photo{border:none;_margin:0px;padding:0;}
.news-box{margin-right:0px;padding-right:0px;}
.gallery-photo-lead, .gallery-photo-1, .gallery-photo-2, .gallery-photo-3, .gallery-photo-4{ overflow:hidden;margin-left:1px;margin-right:0px;margin-top:1px;margin-bottom:-1px;padding:0px;width:101px;height:101px;}
.productImage img{margin:0;padding:0;}
.productImage{display:block;}
