.article img{margin:0;padding:0;vertical-align:middle;}
/*.article{text-indent:-5px;}*/
#section img{margin:0;padding:0;border:none;}
img.sponsor-thumb{margin:12px;}
/*#container {
width: 90%;
margin: 10px auto;
background-color: #fff;
color: #271B05;
border: 1px solid gray;
line-height: 130%;
}
*/
.container{background-color: #D7D6B5;}
#main .sb-inner { background-color:white;z-index:-1; }
                #main .sb-shadow { background-color:blue; z-index:-1; }
               #main .sb-border { background-color:green;z-index:-1; }
    #main{background-color:#FEFEFD;}

hr.white{background:white;color:white;}
.box2{background:#ffffff;margin-top:3px;padding-bottom:1px;}
.section-list, .product-category{ border-bottom:double #E3DECB 3px; padding-bottom:36px;margin-bottom:36px;}
.box1{ background:#DBFE6F;}
.box1 a{color: #6D8865; }
.box1 h2{color: #FF9B2B;}
.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
} 
.error{
color: red;
}
a.image_container{
  position: relative;
  display: block;
} 
.box3{background-color:black;}
hr{color:transparent;background:transparent;}
#gutter hr{color:red;background-color:red;}
#section{border-top:double #E3DECB 3px;border-bottom:double #E3DECB 3px;padding-bottom:0px;padding-top:0px;}

/*
#navbar {
width: 100%;
background-color: #fff;
color: #333;
border: 1px solid silver;
line-height: 90%;	
}

#top {
padding: .5em;
background-color: #ddd;
border-bottom: 1px solid gray;
}

#top h1 {
padding: 0;
margin: 0;
}

h5 {
margin: 0;
padding: 0;
}

#leftnav {
float: left;
width: 160px;
margin: 0;
padding: 1em;
}

#rightnav {
float: right;
width: 160px;
margin: 0;
padding: 1em;
}

#content {
margin-left: 200px;
margin-right: 200px;
padding: 1em;
}

#pagination {
clear:both;
display: block;
width:100%;
float: none;
padding: 1em;
}

#pagination ul {
margin: 0;
padding: 0;
text-align: left; 
font-size: 12px;
}

#pagination li {
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

#pagination a, #pagination a:visited {
padding: 0 5px;
text-decoration: none; 
}

#pagination li.currentpage {
font-weight: bold;
padding: 0 5px;
}

#content div.productreviews {
padding-top: 10px;
padding-bottom: 10px;
font-size: 12px;
}


#content div.productreviews h2 {
    font-size: 14px;
}

#footer {
margin-top:36px;
padding:30px;
background:url(avp_live.gif)no-repeat 75%;
}

#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }
*/
.productImage {
/*border:solid 1px silver;*/
padding:5px;
float: left;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom:2px;
}

.productImage p {
text-align: center;

}
.productImage img{
margin:0;
padding:0;
}
/*
#menu_container ul {
margin: 0;
padding: 0;
list-style-type: none;
}
*/
#shipping ul li {
list-style-type: none;	
text-decoration: none;
padding-left: 1em;
text-indent: -1em;
}

#checkoutprogress {
/*border-style: solid;
border-width: 1px;*/
background: #DBFE6F;
padding: 3px;
margin-bottom: 25px;	
text-align:center;

}
ul.account-info img{
padding:0;
margin:0;
}
ul.account-info {
display: inline;
margin-left: 0;
padding-left: 0;
border: none;
font-style:italic;
}
ul.account-info li {
margin-left: 0;
padding-left: 2px;
display: inline;
list-style: none;

}
ul.account-info li:hover{
/*background:#FF6600;*/
height:100%;
}
ul.account-info li:before {
content: "\0020 \0020 \0020 \00BB \0020";
display: inline;
list-style: none;
}
ul.account-info li.first:before {
content: " ";
}


#checkoutprogress ul {
display: inline;
margin-left: 0;
padding-left: 0;
border: none;
font-size:18px; font-style:italic;
color: #944CAB;
}
.news-box input{background-color:white; border:none;color:#FD7635;}
#checkoutprogress a, #checkoutprogress a:hover{ color: #500E26;}
#checkoutprogress ul li {
margin-left: 0;
padding-left: 2px;
display: inline;
list-style: none;
}

#checkoutprogress ul li:before {
content: "\0020 \0020 \0020 \00BB \0020";
display: inline;
list-style: none;
color: #500E26;
}
#checkoutprogress ul li:first{
color: #500E26;
}

#checkoutprogress ul li.first:before {
content: " ";
}

#checkoutprogress li.active {
color: #944CAB;
}

#product_category ul li {
list-style: none;
}
/*
#menu_container a {
display: block;
color: #FFF;
background-color: #7F7F7F;
width: 9em;
padding: 3px 17px 3px 8px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: bold;
}

#menu_container a:hover {
background-color: #B6B6B6;
color: #FFF;
}

#menu_container li li a {
display: block;
color: #FFF;
background-color: #C0C0C0;
width: 9em;
padding: 3px 8px 3px 17px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: normal;
}

#menu_container li li li a {
display: block;
color: #FFF;
width: 9em;
background-color: #C0C0C0;
padding: 3px 1px 3px 24px;
text-decoration: none;
border-bottom: 1px solid #fff;
font-weight: normal;
}

.addressblock {
padding-top: .5em;
padding-bottom: .5em;
}

.profile li {
list-style-type: none;
}
*/
table.ordertable {
width:  100%;
font-weight: normal;
font-size: 13px;
}

table.ordertable thead {
	background-color: #ddd;
}

table.ordertable span.orderitemqty {
	font-style: italic;
}

body,ul,ol,dl,h1,h2,h3,h4,h5,h6,td,th,caption,pre,p,blockquote,input,textarea {
  font-family:'Calibri', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #3D270A;
 
}
body{ background-color: #F8981D;}
a { 
  color: #F8981D;
  text-decoration: none; 
  outline:none;
}
a img{border:none;text-decoration:none;}

a:hover { text-decoration: underline; color:#F8981D; }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

/*
.unit h1:first-child, 
.unit h2:first-child, 
.unit h3:first-child, 
.unit h4:first-child, 
.unit h5:first-child,
.unit h6:first-child {
  margin-top: 0 !important;
}
*/

h1 { font-size: 36px; line-height: 36px; padding-top: 18px; padding-bottom: 18px; }
h2 { font-size: 28px; line-height: 36px; padding-top: 9px; padding-bottom: 9px; }
h3 { font-size: 18px; line-height: 18px; padding-top: 9px; padding-bottom: 9px; }
h4 { font-size: 14px; line-height: 18px; padding-top: 9px; padding-bottom: 9px; }
h5 { font-size: 12px; line-height: 18px; padding-top: 9px; padding-bottom: 9px; }
h6 { font-size: 10px; line-height: 18px; padding-top: 9px; padding-bottom: 9px; }

p { margin: 0 0 18px 0; }

ul, ol {
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 16px;
  list-style-position: outside;
  list-style-type: disc;
}
ol { list-style-type: decimal; }
dl {
  margin-top: 18px;
  margin-bottom: 18px;
}
dl dt {
  font-weight: bold;
}
h2 {font-family:Georgia; font-weight:normal;letter-spacing:0px; }

blockquote {
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 17px;
  border-left: 1px solid #666;
  font-style: italic;
}
blockquote * { color: #666; }

strong { font-weight: bold; }

em { font-style: italic; }

/* DEFAULT STYLES FOR COMMON CLASSES
-------------------------------------------------------------------------------- */

.small {
  font-size: 10px;
  line-height: 18px;
}

.large {
  font-size: 14px;
  line-height: 18px;
}

.quiet {
  color: #666;
}


/* EXTRA DEFAULT STYLES FOR COMMON TYPOGRAPHIC IDIOMS
-------------------------------------------------------------------------------- */


.gallery-photo-1:hover{background:#ED771C; position:relative; float:left; }
.gallery-photo-2:hover{background:#F8981D; position:relative; float:left; }
.gallery-photo-3:hover{background:#FF9B2B; position:relative; float:left;}
.gallery-photo-4:hover{background:#FCD310; position:relative; float:left; }

 .gallery-photo-1, .gallery-photo-2, .gallery-photo-3, .gallery-photo-4{background:#000000; width:100px;height:100px;position:relative; float:left; margin:1px;}
.gallery-photo,.gallery-photo-lead {width:100px;height:100px;margin:1px;position:relative; float:left;}
.gallery-photo-lead{overflow:visable;}
.gallery-photo{background:white;overflow:hidden;}
.gallery-photo:hover{background:#000000;}
 img.gallery-photo-photo{padding:0px;margin:1px; border:none; }
img.reflect{padding:px;margin:0px;}
.gallery-header img{vertical-align:text-top;}


.footnotes {
  border-top: 1px solid #666;
  margin-top: -1px;
  color: #666;
  font-size: 10px;
}

/* BUG: This currenty relies on daisy-chained class selectors, which IE doesnt support. Need to find another way. */
.sidenote.right { float: right; }
  .sidenote.right.span1 { margin-right: -60px; }
  .sidenote.right.span2 { margin-right: -120px; }
  .sidenote.right.span3 { margin-right: -180px; }
  .sidenote.right.span4 { margin-right: -240px; }

.sidenote.left { float: left; }
  .sidenote.left.span1 { margin-left: -60px; }
  .sidenote.left.span2 { margin-left: -120px; }
  .sidenote.left.span3 { margin-left: -180px; }
  .sidenote.left.span4 { margin-left: -240px; }
    .caps {font-size:.92em;}
    .amp {color:#666; font-size:1.05em;font-family:"Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif; font-style:italic;}    
    .dquo {margin-left:-.38em;}
h2.article-description{font-size:1.8em;font-family:"Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif; /*font-style:italic;*/}
#section-head img{ border-bottom:1px solid #FFA500; padding-right:50%;}
#footer  a, #footer a:hover{color:#000000;}