/* -------------------------------------------------------------- 
   
   Typography.css
   * Version:   0.5 (28/8/2007)
   * Website:   http://code.google.com/p/blueprintcss/
  
   Based on work by:
   * Olav Bjorkoy      [bjorkoy.com]   
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Wilson Miner      [wilsonminer.com]
   
   Read more about using a baseline here:
   * alistapart.com/articles/settingtypeontheweb
  
-------------------------------------------------------------- */

body { 
  font-size: 12px;
  line-height: 18px; /* All elements should be a multiple of this value. */
}


/* Default fonts */
h1,h2,h3,
h4,h5,h6  { font-family: Constantia, "Palatino Linotype", Palatino, Georgia, "Times New Roman", Times, serif; }
body      { font-family: Frutiger, Univers, "Helvetica Neue", "Lucida Grande", Calibri, Helvetica, Verdana, sans-serif; } 
pre       { font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif; } 
code      { font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Monaco, Courier, monospace; } 


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { 
  color:#111; 
  clear:both; 
}

h1 { font-size: 30px; line-height:36px; padding:0 0 18px 0; }
h2 { font-size: 20px; line-height:36px; }
h3 { font-size: 16px; line-height:36px; }
h4 { font-size: 14px; font-weight:bold; }
h5 { font-size: 12px; font-weight:bold; }
h6 { font-size: 12px; }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 18px 0; text-align:justify; }
p.last      { margin-bottom:0; }
p img       { float: left; margin:18px 18px 18px 0; padding:0; }
p img.top   { margin-top:0; } /* Use this if the image is at the top of the <p>. */

a           { color: #125AA7; text-decoration: underline; }
a:hover     { color: #000; }

ul, ol      { margin: 0 0 18px 18px; }
ul          { list-style-type: circle; }
ol          { list-style-type: decimal; }
dl          { margin: 0 0 18px 0; }
dl dt       { font-weight: bold; }

blockquote  { margin: 0 0 18px 18px; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em          { font-style: italic; }
pre         { margin-bottom: 18px; background: #eee; border:1px solid #ddd; padding:16px; }

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #E5CF96; 
  color: #E5CF96;
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 0 0 16px 0;
  border: none; 
}


/* Tables
-------------------------------------------------------------- */

table   { margin-bottom: 16px; /* border-top:1px solid #ddd; border-left:1px solid #ddd;*/ }
th,td   { height: 13px; padding:2px 4px;/* border-bottom:1px solid #ddd; border-right:1px solid #ddd;*/ }
th      { font-weight:bold; }


/* Some default classes
-------------------------------------------------------------- */

p.small   { font-size: 10px; margin-bottom: 18px; }
p.large   { font-size: 14px; line-height:36px; }
p.quiet   { color: #666; }
.hide     { display: none; }


/* Extra fancy typography
-------------------------------------------------------------- */

/* For great looking type, use this code instead of asdf: 
   <span class="alt">asdf</span>  
   Best used on prepositions and ampersands. */
  
.alt { 
  color: #666; 
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif; 
  font-size: 1.2em;
  line-height: 1%; /* Maintain correct baseline */
  font-style: italic;
}

/* For great looking quote marks in titles, replace "asdf" with:
   <span class="dquo">&#8220;</span>asdf&#8221;
   (That is, when the title starts with a quote mark). 
   (You may have to change this value depending on your font size). */  
   
.dquo { margin-left: -.7em; } 


/* Reduced size type with incremental leading
   (http://www.markboulton.co.uk/journal/comments/incremental_leading/)

   This could be used for side notes. For smaller type, you don't necessarily want to 
   follow the 1.5x vertical rhythm -- the line-height is too much. 
   
   Using this class, it reduces your font size and line-height so that for 
   every four lines of normal sized type, there is five lines of the sidenote. eg:

   New type size in em's:
     10px (wanted side note size) / 12px (existing base size) = 0.8333 (new type size in ems)

   New line-height value:
     12px x 1.5 = 18px (old line-height)
     18px x 4 = 72px 
     72px / 5 = 14.4px (new line height)
     14.4px / 10px = 1.44 (new line height in em's) */

p.incr, .incr p {
	font-size: 10px;
	line-height: 1.44em;  
	margin-bottom: 18px; /* Still 1.5 x normal font size as baseline */
}


/* Surround uppercase words and abbreviations with this class.
   Based on work by Jørgen Arnor Gårdsø Lom [http://twistedintellect.com/] */
   
.caps { 
  font-variant: small-caps; 
  letter-spacing: 1px; 
  text-transform: lowercase; 
  font-size:1.2em;
  line-height:1%;
  font-weight:bold;
}

/* EOF */
