{% load i18n %}
{% load satchmo.currency_filter %}

    <div class="module" id="Orders">
        <h2><a href="/admin/contact/order/?ot=asc&o=3">{% trans "New Orders" %}</a></h2>
        <ul>
        {% for order in pendings %}
            <li><a href="/admin/contact/order/{{ order.id }}">{{ order }}</a> - {{ order.total|currency }} on {{ order.timestamp|date:"F jS Y H:i" }}</li>
            <ul>
                {% for item in order.orderitem_set.all %}
                    <li>{{ item }} x {{ item.quantity }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
        <h2><a href="/admin/contact/order/?ot=asc&o=3">{% trans "Orders in Process" %}</a></h2>
        <ul>
        {% for order in in_process %}
             <li><a href="/admin/contact/order/{{ order.id }}">{{ order }}</a> - {{ order.total|currency }} on {{ order.timestamp|date:"F jS Y H:i" }}</li>
            <ul>
                {% for item in order.orderitem_set.all %}
                    <li>{{ item }} x {{ item.quantity }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
         <h2><a href="/admin/contact/order/">{% trans "View all Orders" %}</a></h2>
    </div>
