{% extends "admin/base_site.html" %}
{% load i18n %}
{% load satchmo.currency_filter %}
{% load adminapplist %}
{% load filter_adminapplist %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrastyle %}
<style>
 #content-related { float:right; width:29em; position:relative; margin-top: 3em; margin-right: -30em;}
</style>
{% endblock %}

{% block extrahead %}{{ block.super }}
    {% get_admin_app_list as app_list %}
    {% filter_admin_app_list app_list as non_satchmo_app_list %}

    <script src="{{media_url}}js/jquery.js" type="text/javascript"></script>
    <script src="{{media_url}}js/jquery.cookie.js" type="text/javascript"></script>
    <script type="text/javascript">
    satchmoadmin = {
        
        all_apps : [{% for app in app_list %}'id_{{app.name}}',{% endfor %}],

        non_satchmo_apps : [{% for app in non_satchmo_app_list %}'id_{{app.name}}',{% endfor %}],
        
        legacystate : false,
        
        show_legacy : function(state) {
            if (state) {
                $('.satchmo-app').hide();
                $('.legacy-app').show();
                $('#legacyswitch').text('{% trans "Switch to Shop View" %}');
            }
            else {
                $('.satchmo-app').show();
                $('.legacy-app').hide();
                $('#legacyswitch').text('{% trans "Switch to Legacy View" %}');
            }
            satchmoadmin.legacystate = state;
            $.cookie("satchmoadmin_full", state, {expires: 7});
        },
        
        toggle_legacy : function() {
            satchmoadmin.show_legacy(!satchmoadmin.legacystate);
            return false;
        }

    }
    
    $(function() {
        for (var i=0; i<satchmoadmin.all_apps.length; i++) {
             var appid = satchmoadmin.all_apps[i];
             $('#' + appid).addClass('legacy-app');
         }
         for (var i=0; i<satchmoadmin.non_satchmo_apps.length; i++) {
              var appid = satchmoadmin.non_satchmo_apps[i];
              $('#' + appid).removeClass('legacy-app');
         }
    
         var c = $.cookie("satchmoadmin_full");
         var state = false;
         if (c) {
             state = (c == 'true');
         }
    
         satchmoadmin.show_legacy(state);
          $('#legacyswitch').attr('href', '#').click(function() { satchmoadmin.toggle_legacy(); });
    });
            
    </script>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div id="content-main">

    {% include "admin/satchmo_app_list.html" %}    

    {% get_admin_app_list as app_list %}

    {% if app_list %}
        {% for app in app_list %}
            <div id="id_{{ app.name }}" class="module django-app">
            <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
            <caption>{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</caption>
            {% for model in app.models %}
                <tr>
                {% if model.perms.change %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name|escape }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name|escape }}</th>
                {% endif %}

                {% if model.perms.add %}
                    <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans "Add" %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.perms.change %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans "Change" %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    {% include "admin/order_sidebar.html" %}
    <a id="legacyswitch" href=".?legacy=True">{% trans "Switch to Legacy View" %}</a>
</div>
{% endblock %}
