/* -------------------------------------------------------------- 
  
   buttons.css
   * Gives you some great CSS-only buttons.
   
   Created by Kevin Hale [particletree.com]
   * particletree.com/features/rediscovering-the-button-element

   See Readme.txt in this folder for instructions.

-------------------------------------------------------------- */

a.button, button {
  display:block;
  float:left;
  margin:0 0em 0em 0;
  padding:0px 0px 0px 0px;   /* Links */
  
  /*border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;*/
  
   border: none;


  background-color:#F7981F;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:100%;
  line-height:100%;
  text-decoration:none;
  font-weight:bold;
  color:#C9D89E;
  cursor:pointer;
  vertical-align:top;
  
}
button.remove{margin:0;padding:0;}
button {
  width:auto;
  overflow:visible;
  padding:0px 0px 0px 0px;   /* IE6 */
}
button[type] {
  padding:0px 0px 0px 0px;   /* Firefox */
  line-height:17px;           /* Safari */
}
*:first-child+html button[type] {
  padding:0px 0px 0px 0px;   /* IE7 */
}
button img, a.button img{
  margin:0 0px 0px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
  float:none;
  vertical-align:top;
}


/* Button colors
-------------------------------------------------------------- */

/* Standard */
button:hover, a.button:hover{
  /*background-color:#dff4ff;*/
  /*border:1px solid #c2e1ef;*/
  color:#336699;
}
a.button:active{
  /*background-color:#6299c5;*/
  /*border:1px solid #6299c5;*/
  color:#fff;
}

/* Positive */
body .positive {
  color:#529214;
}
a.positive:hover, button.positive:hover {
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#529214;
}
a.positive:active {
  background-color:#529214;
  border:1px solid #529214;
  color:#fff;
}

/* Positive */
body .clear {
  color:#F7981F;
}
a.clear:hover, button.clear:hover {
  background-color:#F7981F;
  border:none;
  color:#529214;
}
a.clear:active {
  background-color:#F7981F;
  border:none;
  color:#fff;
}





/* Negative */
body .negative {
  color:#C9D89E;
}
a.negative:hover, button.negative:hover {
  background:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}
a.negative:active {
  background-color:#d12f19;
  border:1px solid #d12f19;
  color:#fff;
}
