{% extends "upload/base.html" %}
{% block files %}
    {% for p in photos %}
        <li class="item image flickr" style="background-image:url({{ p.url }})">
            <div class="popup">
                   <a href="#" class="close" title="Close">X</a>
                   <ul>
                        <li><a class="insert" href="{{ p.url }}" title="{{ p.title }}">Insert</a></li>
                        <li><a class="insert" href="{{ p.url }}" rel="left" title="{{ p.title }}">Insert (align left)</a></li>
                        <li><a class="insert" href="{{ p.url }}" rel="right" title="{{ p.title }}">Insert (align right)</a></li>
                    <li class="link"><input type="hidden" name="link" value="{{ p.link }}" class="link" /></li>
                    </ul>
            </div>
            <div class="upload-title">{{ p.title }}<br />
                   <small>{{p.upload_date|date:"F j, Y"}}</small><br />
                   <!-- {{ v.description }} -->
            </div>
        </li>
    {% endfor %}
{% endblock %}