{# this text is placed by the order_tags template tag "order_tracking_details" #}
{% load i18n %}
{% load satchmo.currency_filter %}

<div class="orderdetails">
<h4>{% trans 'Order #' %} {{ order.id }}</h4>
<h4>Status</h4>
{% for status in order.orderstatus_set.all %}
<p>{{status.timestamp|date:"F jS Y H:i" }}: {{ status.status }}<br/>
{% if status.notes %}<i>{{ status.notes }}</i>{% endif %}
</p>
{% endfor %}

<h4>{% trans "Items Ordered" %}</h4>
{% for item in order.orderitem_set.all %}
{{ item }} - {{item.unit_price|currency}} x {{item.quantity}} = {{item.line_item_price|currency}}<br/>
{% endfor %}

<h4>{% trans "Shipping Method" %}</h4>
{{ order.shipping_description }}<br/>
{{ order.shipping_method }}<br/>
{{ order.shipping_cost|currency }}<br/>

<h4>{% trans "Total" %}</h4>
{% if order.discount %}
    {% trans "Discount" %} - {{order.discount|currency}}<br/>
{% endif %}
{% trans "Shipping" %} + {{order.shipping_cost|currency}}<br/>
{% if order.tax %}
    {% trans "Tax" %} + {{order.tax|currency}}<br/>
{% endif %}
{% trans "Total" %} = {{order.total|currency}}<br/>

<h4>{% trans "Shipping To" %}</h4>
{{ order.full_ship_street }}<br/>
{{ order.ship_city }}<br/>
{{ order.ship_state }}<br/>
{{ order.ship_postal_code }}<br/>
{{ order.ship_country }}<br/>
</div>