{% load satchmo.currency_filter %}
{% load i18n %}
{% for item in order.orderitem_set.all %}
{{ item }} - {{item.unit_price|currency}} x {{item.quantity}} = {{item.line_item_price|currency}}<br/>
{% endfor %}

<h4>{% trans "Contact Information" %}</h4>
{{ order.contact.full_name }}<br/>
{{ order.contact.email }}<br/>
{{ order.contact.primary_phone.phone }}<br/>

<h4>{% trans "Billing Information" %}</h4>
{{ order.full_bill_street }}<br/>
{{ order.bill_city }}<br/>
{{ order.bill_state }}<br/>
{{ order.bill_postal_code }}<br/>
{{ order.bill_country }}<br/>

<h4>{% trans "Shipping Address" %}</h4>
{{ order.full_ship_street }}<br/>
{{ order.ship_city }}<br/>
{{ order.ship_state }}<br/>
{{ order.ship_postal_code }}<br/>
{{ order.ship_country }}<br/>

<h4>{% trans "Shipping Method" %}</h4>
{{ order.shipping_description }}<br/>
{{ order.shipping_method }}<br/>
{{ order.shipping_cost|currency }}<br/>

<h4>{% trans "Total" %}</h4>
{% if order.discount %}
    {% trans "Discount" %} - {{order.discount|currency}}<br/>
{% endif %}
{% trans "Shipping" %} + {{order.shipping_cost|currency}}<br/>
{% if order.tax %}
    {% trans "Tax" %} + {{order.tax|currency}}<br/>
{% endif %}
{% trans "Total" %} = {{order.total|currency}}<br/>
