{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}
{% load satchmo.currency_filter %}
{% load satchmo.order_tags %}
{%block extra-head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();


        });
    </script>
{%endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>

<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">





<h5>{% trans "Account options" %}:</h5>
<p>
    <a href="{% url satchmo_profile_update %}">{% trans "Update your profile" %}</a>
    <br/>
    <a href="{% url auth_password_change %}">{% trans "Change your password" %}</a>
    <br/>
    <a href="{% url satchmo_order_history %}">{% trans "Order History" %}</a>
</p>
</div>
</div>
<div class="column span-13 prepend-1 last">
{{ "Order History"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-13 first last">
<div id="orderhistory">
    {% if orders %}
        <table class="ordertable">
            <thead>
            <tr>
                <th>{% trans 'Order #' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Items' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td class="ordernumber">
                    <a href="{% url satchmo_order_tracking order.id %}">{{ order.id }}
                </td>
                <td class="orderstatus">
                    {{ order.status }}
                </td>
                <td class="orderdate">
                    {{ order.timestamp|date:"F jS Y H:i" }}
                </td>
                <td class="orderitems">
                    {% for item in order.orderitem_set.all %}
                    {% if not forloop.first %}<br/>{% endif %}
                    <span class="orderitemqty">{{item.quantity}}</span> <span class="orderitem">{{ item }}<span> 
                    {% endfor %}
                </td>
                <td class="ordertototal">
                    {{order.total|currency}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans "You haven't made any orders yet." %}
    {% endif %}
</div>
</div>
</div>
{% endblock %}

