{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}
{% load satchmo.contact_tags %}
{%block extra-head %}
    <script type="text/javascript">
		$(document).ready(function() {
			$(".box1").corner();

		});
    </script>
{%endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Your Account Info"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>

<div class="column span-4 prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-5">{% if user_data %}
{% with user_data.full_name as full_name %}



<h3 class="article-description">{% blocktrans %}Welcome, {{ full_name }}.{% endblocktrans %}</h3> 
{% endwith %}
<h5>{% trans "Account options" %}:</h5>
<p>
    <a href="{% url satchmo_profile_update %}">{% trans "Update your profile" %}</a>
    <br/>
    <a href="{% url auth_password_change %}">{% trans "Change your password" %}</a>
    <br/>
    <a href="{% url satchmo_order_history %}">{% trans "Order History" %}</a>
</p>
</div>
</div>
<div class="column span-13 prepend-1 last">
{{ "Your Profile"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-13  first last">
<ul class="profile">
    <li><b>Email:</b> {{ user_data.email }}</li>
    <li><b>Birthday:</b> {{ user_data.dob|default_if_none:"--" }}</li>
 </ul>
</div>
<div class="column span-7 first border">
<ul class="profile">
   <li><b>Billing Address:</b><br/>{% addressblock user_data.billing_address %}</li>
   
</ul>
</div>
<div class="column span-6 last">
<ul class="profile">
   <li><b>Shipping Address:</b><br/>{% addressblock user_data.shipping_address %}</li> 
</ul>
</div>
</div>
{% else %}
<p>
    <a href="{% url satchmo_profile_update %}">{% trans 'Set up contact information' %}</a>
    <br/>
    <a href="{% url auth_password_change %}">{% trans "Change your password" %}</a>
</p>
</div>
<div class="column span-14 prepend-2 last">
<p>
    {% trans "Sorry, the user you've logged in as doesn't have any contact information." %}{% if request.user.is_staff %} {% trans 'Probably because you are an admin.' %}{% endif %}
</p>
<h5>{% trans "Account options" %}:</h5>
</div>
{% endif %}
{% endblock %}
