{% extends "base.html" %}
{% load i18n %}
{%load mailto %}
{%load rendertext%}

{% block navbar %}

{% endblock %}

{% block content %}    
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Whoops!"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-1 first">
<hr class="space" />
</div>

<div class="column span-4 prepend-1 first" >
<h2 class="article-description "><h3>{% trans "We apologize for any inconvenience." %}</h3>

<hr class="space"/>


</div>
<div class="column span-10 append-3 last ">
<hr />
<h4>{% trans "There was an error with the store.  The site administrator has been notified." %}</h4>
<p>
For inquiries, and to purchase sponsorships, individual tickets and pages in our journal book for the event, please contact the Anti-Violence Project's Benefit office: Alyssa Schneiderman at (212)763-8597 or email: {{ "avp@cmevents.net"|encode_mailto:"AVP Benefit Office" }}.
</p>

</div>

{% endblock %}
