{% extends "base.html" %}
{% load i18n %}
{% load satchmo.thumbnail %}
{% load rendertext %}
{% block extra-head %}
<script type="text/javascript" src="http://punc.tilio.us/javascripts/reflection.js"></script>
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}
<div class="column span-1 first">
<hr style="color:transparent;background:transparent;"/>
</div>
<div id="section" class="column span-18">



<a href="{{ category.get_absolute_url }}">{{ category.name|rendertext:"egypt,30,#cccccc" }}</a>


</div><div class="column span-1 last">
<hr style="color:transparent;background:transparent;"/>
</div>
<div class="column span-4 prepend-1 append-1 first">


<hr style="color:transparent;background:transparent" />
</div>


                <div class="column span-14 last">

<div id="product_category">   
 <ul>
    {% for product in category.product_set.active %} 
            <li><center><a href="{{ product.get_absolute_url }}">
            <img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" onLoad="Reflection.add(this, { height: 1/5, opacity: 2/5 });" /> </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></center></li>
    {% endfor %}
    </ul>
{% if child_categories %}
        {% for cat in child_categories %}
            <h4>{{cat.name}}</h4>
            <ul>
            {% for product in cat.product_set.active %}
                <li><center><a href="{{ product.get_absolute_url }}">
                <img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" onLoad="Reflection.add(this, { height: 1/5, opacity: 2/5 });" /> </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></center></li>
            {% endfor %}
            </ul>
        {% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
