{% extends "base.html" %}
{% load i18n %}
{% load satchmo.thumbnail %}
{% load satchmo.price_display %}
{% load satchmo.currency_filter %}
{% load rendertext %}
{% load typogrify %}
{% load category_display %}

{% block extra-head %}
<script type="text/javascript" src="http://punc.tilio.us/javascripts/reflection.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();


        });
    </script>

{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}


<script type="text/javascript" src="{{media_url}}js/jquery.form.js"></script>
<script type="text/javascript">
var satchmo = {
    getPrice : function(url) {	
        satchmo.setName("{{product.slug}}");
        satchmo.setPrice("");
    	var options = {
    		url : url,
    		type: 'POST',
    		success : function(json) {
    			var name = json[0];
    			var price = json[1];
    		    if (name) {
    		        satchmo.setName(name);
    		    }
    		    satchmo.setPrice(price);
    		},
    		dataType : 'json'
    	};

    	$('form#options').ajaxSubmit(options);
    },
    
    setName : function(name) {
        $("#productname").attr('value', name);
    },

    setPrice : function(price){
        $("#price").text(price);
    }
}

var localProductPrice = function() { satchmo.getPrice('{% url satchmo_product_prices product_slug=product.slug %}'); };

$(function() {
    localProductPrice();
    $('.priced').change(function() { localProductPrice(); });    
});
</script>
{% endblock %}



{% block content %}
<div class="column span-1 first">
<hr />
</div>
<div id="section" class="column span-18">

{# for name, url in product.category.all.0.get_url_name #}
   
<a href="/shop/">{{ "Shop"|rendertext:"egypt,30,#D2D1AD" }}</a>

{#endfor #}
</div><div class="column span-1 last">
<hr />
</div>

<div class="column span-20 first last">
                <div class="column span-4 first">
				<hr  />
				</div>
                <div class="column span-16 last">
                        {{ product.name|rendertext:"egypt,45,#D2D1AD" }}
                  </div>      
</div>
		    <div class="column span-6 prepend-1 first" >

{% for pic in product.productimage_set.all %}
 <div class = "productImage" >
    <img src="{{ pic.get_picture_url|thumbnail:"width=200" }}" width="200" onLoad="Reflection.add(this, { height: 1/5, opacity: 2/5 });" style="padding:0;margin:0;" />
	</div>
{% endfor %}
<hr class="space"/>



			
<div class="box box1 push-0 span-6"  >
{% trans "Price" %}: <span id="price">{{item.price|typogrify}}</span>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_cart_add %}" method="post">
{% if options %}<br/>
{% trans "Please choose your options" %}:<br />
{% endif %}

{% for option_group in options %}
 <b>{{ option_group.name }}</b><br />
    <select name="{{ option_group.id }}" id="{{option_group.id}}" class="priced">
    {% for choice in option_group.items %}
     <option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.name }}

     </option>
    {% endfor %}
      </select> 
{% endfor %} 
{% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" /> 
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" value="{% trans "Add to cart" %}" class="button" /> 
</form>
</div>
</div>
<div class="column span-11 append-1 article last">
<div class="box span-5 append-1 push-0 pull-quote" style="margin:0;padding-right:5px;">
	<hr class="space"/>
<hr class="space"/>



<h3 class="article-description" >{{ product.short_description|typogrify}}</h3>

<hr class="space"/>
<hr class="space"/>


<hr class="space"/>
			

</div>

{{ product.description|striptags|slice:":1"|rendertext:"egypt,20,#000000" }}      
{{ product.description|slice:"4:"|typogrify }}  


<br />
<hr class="space"/>
</div>




{% if shop.enable_ratings %} 
{% load comments.comments %}
{% load comment_utils %}
<div class="productreviews">
    <h2>{% trans 'Product Reviews' %}</h2>
    {% get_public_comment_count for product.Product product.id as comment_count %}
    {% ifequal comment_count 0 %}
        {% if user.is_authenticated %}
            {% trans 'Be the first to review it!' %}
        {% endif %}
    {% else %}
        {% get_public_comment_list for product.product product.id as comments %}
        {% for comment in comments %}
        <div class="comment {% cycle odd,even %}" id="c{{ comment.id }}">
            <p><a id="c{{ comment.id }}"></a>
                <b>{% if user.get_full_name %}{{ user.get_full_name|escape }}{% else %}{{ user.username|escape }}{% endif %}</b> &mdash; {{ comment.submit_date|date:"F j, Y" }} &mdash; Rating {{ comment.rating1 }}/5</span>
            </p>
        	{{ comment.comment|escape|urlizetrunc:40|linebreaks }}
        </div>
        {% endfor %}
    {% endifequal %}
    {% if user.is_authenticated %}
        <h2>Review this product</h2>
        {% comment_form for product.product product.id with ratings_optional scale:1-5|Rating %}
    {% else %}
        {% trans 'Please login to review this product.' %}
    {% endif %}
</div>
{% endif %}
{% endblock %} 
