<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load typogrify.typogrify i18n satchmo.category_display satchmo.google  rendertext %}
{% load tagging_tags %}
{% load several_random %} 
{% load rendertext %}


<head>
<script src="{{media_url}}js/jquery-1.2.1.pack.js"></script> 
<script type="text/javascript" src="{{media_url}}js/jq-corner.js"></script>
<!--script type="text/javascript" src="{{media_url}}js/jquery.corner.pack.js"></script-->
<!--
  jCarousel library
-->
<!--script type="text/javascript" src="{{media_url}}js/jquery.jcarousel.pack.js"></script-->
<!--
  jCarousel core stylesheet
-->
<!--link rel="stylesheet" type="text/css" href="{{media_url}}js/jquery.jcarousel.css" /-->
<!--
  jCarousel skin stylesheet
-->
<!--link rel="stylesheet" type="text/css" href="{{media_url}}js/skins/tango/skin.css" /-->
<script type="text/javascript" src="{{media_url}}js/thickbox-compressed.js"></script>
<link rel="stylesheet" href="{{media_url}}js/thickbox.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="{{media_url}}favicon.ico" />          


<script type="text/javascript" src="{{media_url}}js/jquery.ifixpng.js"></script>   

<script type="text/javascript" src="{{media_url}}js/swfobject.js"></script>






   <link rel="stylesheet" href="{{ media_url }}css/blueprint/screen.css" media="projection,screen"/>
    <link rel="stylesheet" href="{{ media_url }}css/blueprint/print.css" media="print" />
	 	

    <link rel="stylesheet" href="{{ media_url }}css/style.css" /> 
<!--[if IE]><link rel="stylesheet" href="{{ media_url }}css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title>{{ shop_name}} {% block title %}{% endblock %}</title>
<!-- Show the grid and baseline -->

	<style type="text/css">
		.container {background-image:url({{media_url}}images/inner_bg.png);background-repeat:repeat-x; }
		/*.container {background:url({{media_url}}css/blueprint/lib/grid.png)repeat; }*/
		body{ background-image: url({{media_url}}images/bg.png);background-repeat:no-repeat; 
			  background-position: 0% 0%;
			  }
        .pull-quote{ background-image:url({{media_url}}images/pull_quote.jpg);
                     background-repeat:no-repeat;
                     
                   } 
        #details{background-image: url({{media_url}}images/event_details.gif);background-repeat:no-repeat; 
background-position:0% 100%;} 
        
	</style>
      <script type="text/javascript">
      // <![CDATA[
        $(document).ready(function() {
            var so = new SWFObject("{{media_url}}output.swf", "sotester", "950", "260", "9", "#ffffff");
            so.addParam("wmode", "transparent");
            so.addParam("allowScriptAccess", "always");
            // so.addParam("scale", "noorder");
            so.useExpressInstall('expressinstall.swf');
            so.write("flash_menu");
            //$('.account-info').corner();
            //$('#details').ifixpng();
            //$('div#logo').ifixpng();
            //$('div.side').ifixpng();
            
            if (playerObj = document.getElementById("player")) {
            var so = new SWFObject('{{media_url}}flvplayer.swf','player','707','600','9');
            so.addParam("allowfullscreen","true");
            so.addVariable("file","{{media_url}}playlist.xml");
            so.addVariable("displayheight","480");
            //so.addVariable("logo", "{{media_url}}images/avp_logo_orange.png");
            so.addVariable("backcolor","0xFFFFFF");
            so.addVariable("image", "{{media_url}}images/psa_preview.jpg");
            so.addVariable("screencolor","0xffffff");
            so.write('player');
}
              
            $('#main').corner();
            $('.box1').corner2();
            $('img[@src$=.png]').ifixpng();
{% if user.is_anonymous %}


{%endif%}
            });
    
    
    
            // ]]>
    </script> 
    
    
    
{% block extra-head %}{% endblock %}


    
</head> 
<body>

    <div class="container" id="contain"> 
	<div id="logo" class="column span-24 first last" style="background-image:url({{media_url}}images/logo.gif);background-repeat:no-repeat;padding:0;">
	  <div class="column span-10 prepend-13 append-1 first last " style="margin-bottom:0px;">
          <ul class="account-info push-0" style="margin-bottom:0px;">{% if user.is_authenticated %}
               <li class="first"><a href="{% url satchmo_account_info %}">Account Details</a></li>
              <li><a href="{% url auth_logout %}">Log out</a></li>
            {% else %}
                <li class="first"><a href="{% url auth_login %}">Log in</a></li>
            {% endif %}

            {% load satchmo.currency_filter %}
            <li><a href="{% url satchmo_cart %}">Cart</a>

            {% if cart_count %}
                {{ cart_count}} - {{cart.total|currency }}</li>
                <li><a href="{% url satchmo_checkout-step1 %}">Check out</a></li>
			{% else %}</li>	
            {% endif %}
</ul>
</div>
<div id="details">
<div id="flash_menu" > 
<img src="{{media_url}}images/spacer.gif" width="707px" height="480px" />        
        <center><h3 style="z-index:3">Loading Flash player...</h3></center>
    
</div>
</div>

<hr />
 </div>   
    


    {% block navbar %}
    
    {% endblock %}
  
<div  class="column span-3 first side" {% if form %} {%else%}   style=background-image:url({{media_url}}images/event_photos.png);background-repeat:no-repeat;" {%endif%}>
<hr />
{% if form %} &nbsp; {%else%}  
<div id="mini-gallery" style="padding-left:5px;padding-top:100px;">
{% tags_for_model photologue.Gallery as courage_tag %}
{% tagged_objects courage_tag in photologue.Gallery as galleries %}
{% for gallery in galleries %}
{% for photo in gallery.photos.all|several_random:3 %}

<!--div class="{% cycle gallery-photo-1,gallery-photo-2,gallery-photo-3,gallery-photo-4  %}"-->
            <a href="{{ photo.get_gallery_url }}" title="{% spaceless %}{{photo.caption|truncatewords:15}}{% endspaceless %} - Photo courtesy of {{photo.photographer}}" rel="mini-gallery" class="thickbox"><img src="{{ photo.get_mini_url }}" alt="{{ photo.title }}" style="margin:1px;padding:1px;border:1px solid white;background-color:#cccccc;" /></a>

        <!--/div-->

{% endfor%}

{%endfor%}<center>
<a href="/photologue/gallery/">
{{ "more..."|rendertext:"egypt,18,#FF8F29" }}</a></center>
</div>
<hr />
{% endif %}
{% if user.is_anonymous %}
{% if form %} &nbsp; {%else%}  
<div class="box box1 span-3 news-box" style="margin-left:5px;background-color:#F7981F;padding:0px;" >
{# {{ "Newsletter"|rendertext:"egypt,15,#000000" }} #}
<img src="{{media_url}}images/newsletter.gif" style"margin:0;padding:0" />
<form method="POST" action="http://www.courage-awards.org/accounts/register/">
<table align="center" width="80%">
<tr><td>&nbsp;</td><td>Email:</td></tr>
<tr><td>&nbsp;</td><td><input type="text" id="news_username" class="vTextField required" name="username" size="13" value=""  maxlength="30" /></td></tr>
<tr><td colspan=2 ><button type="submit" class="button clear" ><img src="{{media_url}}css/blueprint/plugins/buttons/icons/tick.png" alt=""/>&nbsp;</button></td></tr>

</table>
</form>

</div> 
{%endif%}
{%endif%}
</div>

  <div class="column span-20 append-1 last"> 
  	<div id="main"{%if latest%}style="background-color:#000000"{%endif%}>
	<!--0p class="push-0"><a href="/pressroom/section/news">News</a> | <a href="/pressroom/section/sponsors">Our Sponsors</a> | <a href="/shop">Purchase Tickets</a> | <a href="/photologue/gallery">Photo Galleries</a></p-->
	
        {# trans "Search" #}
        <!--form id="search" action="{% url satchmo_search %}" method="get">
            <input type="text" size="20" name="keywords" id="search_keywords" /><br/>
            <input type="submit" value="{% trans "Search" %}" />
         </form-->
            {% block sidebar %}
            
                
            
            {% endblock %}

         
            {% block content %}{% endblock %}
    <hr class="space" />    

</div>
 
</div>

        <div id="footer" class="column span-21 prepend-3 quiet first last" >
           <p class="last"> {% blocktrans %} <a href="http://www.courage-awards.org">About</a> | <a href="/privacy">Privacy Policy</a> |{% endblocktrans %} <a href="{% url satchmo_contact %}">{% trans "Contact Us" %}</a><br /> <a href="/shop">Purchase Tickets</a> | <a href="/pressroom/section/sponsors">Our Sponsors</a> | <a href="/pressroom/section/news">News</a> | <a href="/pressroom/section/award-recipients">Award Recipients</a> | <a href="/photologue/gallery">Photologue</a></p>
        </div>


   
    {% block google-tracker %}
    {% if enable_google %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
		<hr class="space" />		

 </div>

</body>
</html>

 