{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load satchmo.currency_filter %}
{% load satchmo.custom_filter %}
{%block extra-head %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();


        });
    </script>
{%endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Shop"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first">

<hr class="space" />
<hr class="space" />
<hr class="space" />

<div class="box box1 span-4 first">
<h5>Shop options:</h5>
<p><a href="../">Return to Shop</a><br/>
{% if cart %}
<a href="{% url satchmo_checkout-step1 %}">{% trans "Check out" %}</a>
{% endif %}
</p>
</div>
</div>
<div class="column span-11 append-1 last">
<hr />
{% if not cart %}
{{ "Your Cart is Empty"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-12 append-1  first last">
{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
<hr />
</div>
<hr />
</div>
{% else %}
{{ "Your Cart"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-11 append-1 first last">
    <table width="100%"><tr><th width="93">&nbsp; </th>
    <th width="185">{% trans "Quantity" %}</th>
    <th width="512">{% trans "Item" %}</th>
    <th width="165" align="center">{% trans "Total" %}</th>
    </tr>

    {% for cartitem in cart %}
        <tr><td>
            <form action="{% url satchmo_cart_remove %}" method="post">
                <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
                <!--input type="submit" value="{% trans 'Remove' %}" /-->
                    <button type="submit" class="button positive" >
      <img src="{{media_url}}css/blueprint/plugins/buttons/icons/cross.png" alt=""/></button>
            </form>
        </td>
            <td align="center">
                <form class="qtyform" id="form-{{ cartitem.id }}" action="{% url satchmo_cart_set_qty %}" method="post">
                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
                    <select name="quantity" style="width:50px;">
                        {% for q in 10|template_range %}
                        <option {% ifequal q cartitem.quantity %}selected="yes"{% endifequal %} value="{{ q }}">{{ q }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <input type="submit" value="{% trans 'update amount' %}" />
                </form>
            </td>
            <td><a href="{{cartitem.product.get_absolute_url}}">{{ cartitem.description }}</a></td>
            <td align="center">{{ cartitem.line_total|currency }}</td>
        </tr>
    {% endfor %}
    <tr><td colspan="3" align="right">{% trans "Cart Total" %}:</td>
        <td>{{cart.total|currency}}</td></tr>
    </table>
    
<hr />
</div>
<hr />
</div>
{% endif %}
{% endblock %}
