{% extends "base.html" %}
{% load i18n %}
{% load typogrify %}
{% load satchmo.thumbnail %}
{% load satchmo.custom_filter %}
{% load category_display %}
{%load rendertext %}
{% block navbar %}
{% endblock %}
{% block extra-head %}
<!--script type="text/javascript" src="{{media_url}}js/reflection.js"></script-->
<script type="text/javascript" src="http://punc.tilio.us/javascripts/reflection.js"></script>

{% endblock %}
{% block content %}

<div class="column span-1 first">
<hr />
</div>
<div id="section" class="column span-18">

{# for name, url in product.category.all.0.get_url_name #}

<a href="/shop/">{{ "Shop"|rendertext:"egypt,30,#D2D1AD" }}</a>

{#endfor #}
</div>
<div class="column span-1 last">
<hr />
</div>

                <div class="column span-1 first">
			<hr class="space"/>	    
	                <!--div class="box box1 span-4 push-4" style="z-index:1;margin-top:18px;">
                        <h4>{{"Welcome to AVP's online store."|typogrify}}</h4>
				    </div-->			
                </div>


               
                 
               <div id="featured" class="column span-18 append-1 last" style="z-index:3;margin-bottom:54px;">
                <hr class="space"/>
                 
                     




                    {% if all_products_list %}
                    {% regroup all_products_list|dictsort:"category.all.0.id" by category.all.0 as grouped %}
      
                        <div class="box box1" style="background:url(http://static.nycavp.webfactional.com/satchmo/images/welcome_bg.jpg)">
                                {{"Welcome to AVP's online store."|rendertext:"egypt,30,#ffffff" }}
                                {{"Ticket sales have closed, but we invite you to make a donation."|rendertext:"egypt,20,#ffffff" }}
                                <a href="{% url satchmo_contact %}">{{"For assistance, please"|rendertext:"egypt,20,#ffffff" }}{{" contact us."|rendertext:"egypt,20,#F8981D" }}</a>
                       </div>
                      
                        
                        {% for group in grouped %}
                        <div class="column span-18 product-category first last">
                        <div class="column span-4 prepend-1 first pull-quote">
                      {{group.grouper.name|rendertext:"egypt,25,#D2D1AD"}}
                       <h4 class="article-description">{{group.grouper.description|typogrify}}</h4>
                       <hr class="space"/>
                       <hr class="space"/>
                       <p class="quiet">Please click the name of an item to the right to browse.</p>
                       </div>
                        <div class="column span-13 last">
                        {% for product in group.list %} 
                        <div class="productImage"><center>
              <a href="{{ product.get_absolute_url }}" target="_self"> <h4 style="color:#F8981D;">{{product.name}}</h4></a>
                            {% if product.main_image %}
            
                            <img src="{{ product.main_image.get_picture_url|thumbnail:"width=200,height=200" }}"  onLoad="Reflection.add(this, { height: 1/5, opacity: 2/5 });" />
              <br />
                             {% endif %}     
                         
</center>
                        </div>
                        
                        
                        {% endfor %}
                        </center>
                        <hr />
                        </div>
                       
                        </div>
                        {% endfor %}
                     
                {% endif %}

<br />
                  
            </div>



    {% if is_paginated %}
    <div id = "pagination">
    <ul>
        {% if has_previous %}
            <li> <a href="{{shop_base}}/?page={{previous}}">{% trans "Previous" %}</a> </li>
        {% else %}
            <li> {% trans "Previous" %} </li>
        {% endif %}
        {% for page_number in pages|template_range %}
            {% ifequal page_number page %}
                <li class="currentpage">{{page_number}}</li>
            {% else %}
                <li> <a href="{{shop_base}}/?page={{page_number}}">{{page_number}}</a> </li>
            {% endifequal %}
        {% endfor %}
        {% if has_next %}
            <li> <a href="{{shop_base}}/?page={{next}}">{% trans "Next" %}</a></li>
        {% else %}
            <li> {% trans "Next" %} </li>
        {% endif %}
    </ul>
    </div>

    {% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();
            // $("#featured").corner();


        });
    </script>

{% endblock %}
