{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}
{%block extra-head %}
<script type="text/javascript">
        $(document).ready(function() {
            $(".box1").corner();


        });
    </script>
{%endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Contact Us"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4  prepend-1 first">
<hr class="space" />
<hr class="space" />
<hr class="space" />
<div class="box box1 span-5">
{{ "For more information about AVP or the 11th Annual Courage Awards, please contact us using the form to the right.  We'll do our best to reply as quickly as possible."|typogrify}} 
<p>
{{ "For more immediate assistance, please contact the Anti-Violence Project's Benefit office:"|typogrify}}<br /> <b>Alyssa Schneiderman</b><br/><b>(212)763-8597</b>
</div>
<div class="column span-2 prepend-1 append-1 first last">
<hr class="space" />
</div>

</div>
<div class="column span-13 prepend-1 append-1 last">
{{ "What's on your mind?"|rendertext:"egypt,45,#D2D1AD" }}
<div class="column span-14  first last">

{% if form.errors %}
<h3>{% blocktrans count form.errors|length as count %}Please correct the following error:{% plural %}Please correct the following errors:{% endblocktrans %}</h3>
{% endif %}

<table>
<form method="post" action=".">
    {{ form.as_table }}
<tr><td></td><td><input type="submit" value="{% trans "Send Email" %}"/></td></tr>
</form>
</table>
</div>
</div>

{% endblock %}
