{% extends "base.html" %}
{% load i18n %}

{% block navbar %}
<a href="{{ shop_base }}/">{% trans "Home" %}</a>
{% endblock %}

{% block content %}

{% if not results %}
<h4>{% trans "Nothing found" %}</h4>
{% else %}
    {% for result in results %}
        <div><a href="{{ result.Url }}">{{ result.Title }}: {{result.Size}} {{ result.Summary }}</a></div>
    {% endfor %}
{% endif %}
{% endblock %}
