{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load mailto %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Thank You!"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-1 first">
<hr class="space" />
</div>

<div class="column span-4 prepend-1 first" >
<h2 class="article-description "><h3>{% trans "Thanks for your interest in the 2007 Courage Awards!" %}</h3>

<hr class="space"/>


</div>
<div class="column span-10 append-3 last ">
<hr />
<p>Your email has been forwarded to our events staff. We'll do our best to respond in a timely manner.
For more immediate inquiries, and to purchase sponsorships, individual tickets and pages in our journal book for the event, please contact the Anti-Violence Project's Benefit office: Alyssa Schneiderman at (212)763-8597 or email: {{ "avp@cmevents.net"|encode_mailto:"AVP Benefit Office" }}.
</p>

</div>


{% endblock %}
