{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}
{% block extra-head %}   
    <script type="text/javascript">
        $(document).ready(function() {
            $("#checkoutprogress").corner();


        });
    </script>
    {% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
<img src="{{media_url}}images/checkout.gif" />
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-1 first">
<hr class="space" />
</div>

<div class="column span-18 first last">
<hr class="space" />
<div id="checkoutprogress">
<ul>
    <li class="first"><a href="{% url satchmo_checkout-step1 %}">{% trans "Ship/Bill" %}</a></li>
    <li class="active">{% trans "Payment" %}</li>
    <li>{% trans "Confirmation" %}</li>
</ul>
</div>
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first" >
<h3 class="article-description">{{ "Please complete the following information to submit your order."|typogrify}}</h3>

<hr class="space"/>

<p class="quiet">{% trans "You'll need to fill out at least the fields with a *" %}</p>
</div>
<div class="column span-10 prepend-2 append-3 last ">


{% if form.errors %}
    <h4 class="error">{% blocktrans count form.errors|length as count %}Please correct the following error:{% plural %}Please correct the following errors:{% endblocktrans %}</h4>
{% endif %}

<table>
<form method="post" action=".">

    {% block payment_table %}
    {# put your payment module specific rows here.  For example, CC number. #}
    {% endblock %}
    
    {% block discount_table %}
    <tr><td><h4>{% trans "Discounts" %}</h4></td></tr>
    <tr><td><label for="id_discount">{% trans "Discount code" %}</label></td><td> {{ form.discount }}</td></tr>
    <tr><td></td><td>{% if form.discount.errors %}<span class="error">*** {{ form.discount.errors|join:", " }}</span>{% endif %}</td></tr>
    {% endblock %}

{% if cart.is_shippable %}
    <tr><td><h4>{% trans "Shipping Information" %}</h4></td></tr>
    </table>
    {% block shipping_table %}
    <div id="shipping">
    <label for="id_shipping">{% trans "Please choose your preferred shipping method" %}</label>{{ form.shipping}}
    {% if form.shipping.errors %}<span class="error">*** {{ form.shipping.errors|join:", " }}</span>{% endif %}
    </div>
    {% endblock %}
{% else %}
    </table>
{% endif %}

    <input type="submit" value="{% trans "Confirm" %}"/>
</form>

</div>
{% endblock %}
