{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{% load typogrify %}
{% load satchmo.currency_filter %}
{% load satchmo.order_tags %}
{% block extra-head %}   
    <script type="text/javascript">
        $(document).ready(function() {
            $("#checkoutprogress").corner();


        });
    </script>
    {% endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
<img src="{{media_url}}images/checkout.gif" />
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-1 first">
<hr class="space" />
</div>

<div class="column span-18 first last">
<hr class="space" />
<div id="checkoutprogress">
<ul>
    <li class="first"><a href="{% url satchmo_checkout-step1 %}">{% trans "Ship/Bill" %}</a></li>
    <li>{% block paymentstep %}<a href="{{ checkout_step2 }}">{% trans "Payment" %}</a>{% endblock %}</li>
    <li class="active">{% trans "Confirmation" %}</li>
</ul>
</div>
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-4 prepend-1 first" >
<h2 class="article-description ">{% if errors %}
    <h3 class="error">{% block errorheader %}{% trans "The following error was returned while trying to process your payment. Please correct and resubmit." %}{% endblock %}</h3>
    {{ errors }}
{% else %}
    <h3 class="article-description ">{% trans "Please validate the following information, then submit your order." %}</h3>
{% endif %}

<hr class="space"/>


</div>
<div class="column span-10 prepend-2 append-3 last ">



<h3>{% trans "Items Ordered" %}</h3>
{% order_details order %}

{% block payment_display %}
{# override for module-specific needs, such as displaying card info #}
{% endblock %}

{% block payment_form %}
{# override with any payment-module specific needs #}
<form method="post" action=".">
<input type="hidden" name="Process" value="True">
<input type="submit" value="{% trans "Purchase Items" %}"/>
</form>
{% endblock %}

</div>
{% endblock %}
