{% extends "checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo.currency_filter %}
{# this is the credit-card confirm template #}

{% block errorheader %}The following error was returned while trying to process your card.  Please correct and resubmit{% endblock %}

{% block navbar %}

{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{# if not PAYMENT_LIVE #}<!--b>PAYMENT TEST MODE</b><br/-->{# endif #}
{% with order.credit_card.creditType as credit_card_type %}
{% with order.credit_card.displayCC as credit_card_number %}
{% with order.total|currency as order_total %}
{% blocktrans %}Your {{ credit_card_type }} card ending in {{ credit_card_number }} will be charged {{ order_total }}.{% endblocktrans %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}