{% extends "base.html" %}
{% load i18n %}
{% load rendertext %}
{%block extra-head %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".box1").corner();


		});
	</script>
{%endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
<img src="{{media_url}}images/checkout.gif" />
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-16 prepend-4 first last">
<hr class="space" />
<hr class="space" />
<hr class="space" />
<p>{% trans "Your cart is empty. Please add some items to your cart, then complete the checkout process." %}</p>
</div>
{% endblock %}
