{% extends "checkout/base_pay_ship.html" %}
{% load i18n %}
{# credit card pay_ship version - we just need to collect CC info #}

{% block payment_table %}
    <tr><td><h4>{% trans "Payment Information" %}</h4></td></tr>
    {% if not PAYMENT_LIVE %}
    <tr><td valign="top"><b>TEST MODE</b></td><td><i>Use Visa 4111111111111111 for CC#<br/>any future date for expiration<br/>any 3 digit CCV</i></td></tr>
    {% endif %}

    <tr><td><label for="id_credit_type">{% trans "Type of credit card" %}</label></td> <td>{{ form.credit_type }}</td></tr>
    <tr><td></td><td>{% if form.credit_type.errors %}<span class="error">*** {{ form.credit_type.errors|join:", " }}</span>{% endif %}</td></tr>

    <tr><td><label for="id_credit_number">{% trans "Credit card number" %}</label></td><td> {{ form.credit_number }}</td></tr>
    <tr><td></td><td>{% if form.credit_number.errors %}<span class="error">*** {{ form.credit_number.errors|join:", " }}</span>{% endif %}</td></tr>

    <tr><td><label for="id_month_expires">{% trans "Expiration date" %}</label><label for+"id_year_expires"></label></td><td> {{ form.month_expires }} {{form.year_expires}}</td></tr>
    <tr><td></td><td>{% if form.year_expires.errors %}<span class="error">*** {{ form.year_expires.errors|join:", " }}</span>{% endif %}</td></tr>

    <tr><td><label for="id_ccv">{% trans "CCV" %}</label></td><td> {{ form.ccv}}</td></tr>
    <tr><td></td><td>{% if form.ccv.errors %}<span class="error">*** {{ form.ccv.errors|join:", " }}</span>{% endif %}</td></tr>

{% endblock %}
