{% extends "base.html" %}
{% load i18n %}
{% load order_tags %}
{% load rendertext %}
{% load satchmo.google %}

{% block navbar %}

{% endblock %}

{% block content %}
<div class="column span-1 first">
<hr class="space" />
</div>
<div id="section" class="column span-18">
{{ "Thank You!"|rendertext:"egypt,30,#D2D1AD" }}
</div>
<div class="column span-1 last">
<hr class="space" />
</div>
<div class="column span-1 first">
<hr class="space" />
</div>

<div class="column span-4 prepend-1 first" >
<h2 class="article-description "><h3>{% trans "Thank you for your order!" %}</h3>

<hr class="space"/>


</div>
<div class="column span-10 prepend-2 append-3 last ">

<p>{% trans 'Please print out this page as a receipt.  You will also receive an email with this information.' %}
    
{% order_tracking_details order %}
</div>
{% endblock %}

{% block google-tracker %}
{% if enable_google %}
{% show_tracker %}
{% show_receipt %}
{% endif %}
{% if enable_adwords %}
{% google_adwords_sale %}
{% endif %}
{% endblock %}

