{% extends "base.html" %}
{% load rendertext %}
{%load typogrify %}
{% block content %}

<div class="column span-1 first">
<hr class="space"/>
</div>
<div id="section" class="column span-18">

{{ flatpage.title|rendertext:"egypt,30,#D2D1AD" }}
</div><div class="column span-1 last">
<hr class="space"/>
</div>
<hr class="space" />

<div class="column span-18 prepend-1 append-1 first last">
{{ flatpage.content|typogrify }}
</div>
{% endblock %}
