{% extends "base_docs.html" %}

{% block content %}
<h1>{{ flatpage.title }}</h1>

{% ifequal version "trunk" %}
  
{% endifequal %}

{{ flatpage.content }}
{% endblock %}

{% block content-related %}

<h2>Search docs via Google</h2>
<form action="http://www.google.com/search" method="get">
<p><input type="text" name="as_q" /> <input type="submit" value="Go" /></p>
<input type="hidden" name="as_sitesearch" value="www.djangoproject.com" />
</form>

<h2>Getting help</h2>
<ul class="toc">
    <li><a href="irc://irc.freenode.net/django">#django IRC channel</a></li>
    <li><a href="http://simon.bofh.ms/logger/django/">#django IRC logs</a></li>
    <li><a href="http://groups-beta.google.com/group/django-users">Django-users mailing list</a></li>
    <li><a href="http://groups-beta.google.com/group/django-developers">Django-developers mailing list</a></li>
    <li><a href="http://code.djangoproject.com/simpleticket">Report a bug</a></li>
    <li><a href="/comments/">Recent comments posted to djangoproject.com</a></li>
</ul>

{% endblock %}
