{% extends "base.html" %}
{% load typogrify %}
{% block title %}Latest Photo Galleries{% endblock %}
{% load rendertext %}
{% load substring %}
{%block extra-head %}

<script type="text/javascript" src="{{media_url}}js/jquery.reflect.js"> </script>
<style>
/*.gallery-photo-lead{ background-image:url({{media_url}}images/circle.png);}*/
/*.gallery-photo{ background-image:url({{media_url}}images/circle.png);}*/
</style>
{% endblock %}
{% block content %}
<div class="column span-1 first">
<hr class="space"/>
</div>
<div id="section" class="column span-18 first last">

{{ "Photologue"|rendertext:"egypt,30,#ffffff" }}
</div>
<div class="column span-1 last">
<hr class="space"/>
</div>
<hr class="space" />
{% if latest %}
<div class="column span-16 prepend-2 append-2 first last">
<div class="photo-gallery">
    {% for gallery in latest %}
 
              <!--div class="column span-5 prepend-1 first" >
  <div class="box span-2 push-0 marker" style="background-color:black;padding-top:72px;padding-bottom:5px;"><center>
{#{{ gallery.pub_date|date:"Y"|rendertext:"egypt,14,#ffffff" }}#}
{{ gallery.pub_date|date:"F"|rendertext:"egypt,12,#F8981D" }}
</center>

</div>          
       
</div-->  






               
                
                 
    
       <div class="gallery-photo-lead">{{ gallery.title|slice:":2"|upper|rendertext:"egypt,90,#ffffff,0" }}</div><div class="gallery-photo-lead">{{ gallery.title|slice:"2:4"|upper|rendertext:"egypt,90,#ffffff,3" }}</div><div class="gallery-photo">{{ gallery.title|slice:"4:6"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"6:8"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"8:10"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"10:12"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"12:14"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"14:16"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"16:18"|lower|rendertext:"crud,108,#000000,5" }}</div><div class="gallery-photo">{{ gallery.title|slice:"18:20"|lower|rendertext:"crud,108,#000000,5" }}</div>
        {% for photo in gallery.photos.all %}
        <div class="{% cycle gallery-photo-1,gallery-photo-2,gallery-photo-3,gallery-photo-4  %}">
            <a href="{{ photo.get_gallery_url }}" title="{{photo.caption|truncatewords:15}} - Photo courtesy of {{photo.photographer}}" rel="{{gallery.slug}}" class="thickbox"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" class="gallery-photo-photo" border=0/></a>
            
        </div>
        {% endfor %}
   



    {% endfor %}
     </div></div>
{% else %}
    <p>No galleries were found.</p>
{% endif %}
<script>
$(document).ready(function() {
    $('img.reflect').reflect();
    $('.photo-gallyer').corner();
});
</script>


{% endblock %}
