{% extends "base.html" %}
{% load typogrify %}

{% block title %}All Galleries{% endblock %}
{% block sidebar %}{% for gallery in object_list %}<h2>{{ gallery.title|typogrify }}</h2>{%endfor%} {% endblock %}
{% block content %}

{% if object_list %}
    {% for gallery in object_list %}
    <div class="photo-gallery">
        
        {% for photo in gallery.photos.all %}
        <div class="gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

{% if is_paginated %}
<p>{{ hits }} galleries total.</p>
<div id="page_controls">
    <p>{% if has_previous %}<a href="{% url pl-gallery-list previous %}">Previous</a> | {% endif %} page {{ page }} of {{ pages }} {% if has_next %}| <a href="{% url pl-gallery-list next %}">Next</a>{% endif %}</p>
</div>
{% endif %}

{% endblock %}
