{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<div class="column span-8 first">


    <a href="{{ object.get_image_url }}"><img src="{{ object.get_display_url }}" alt="{{ object.title }}" onLoad="Reflection.add(this, { height: 1/5, opacity: 2/5 });"/></a>

</div>
<div class="column span-8 last">
{% if object.galleries.all %}
<h1>This photo is found in the following galleries:</h1>
<ul>
{% for gallery in object.galleries.all %}
    <li><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
